In [1]:
import pandas as pd

s = pd.Series(["a", "b", "c", "a"], dtype="category")

In [2]:
s

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

In [3]:
raw_cat = pd.Categorical(
    ["a", "b", "c", "a"], categories=["b", "c", "d"], ordered=False
)

s = pd.Series(raw_cat)

df = pd.DataFrame({"A": ["a", "b", "c", "a"]})
df["B"] = raw_cat

In [5]:
df

   A    B
0  a  NaN
1  b    b
2  c    c
3  a  NaN

In [6]:
df.dtypes

A      object
B    category
dtype: object

In [11]:
from pandas.api.types import CategoricalDtype

s = pd.Series(["a", "b", "c", "a"])

cat_type = CategoricalDtype(categories=["b", "c", "d"], ordered=True)

s_cat = s.astype(cat_type)

In [12]:
s_cat

0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (3, object): ['b' < 'c' < 'd']

In [14]:
s = pd.Series(["a", "b", "c", "a"])
s = s.astype("category")

In [15]:
s.describe()

count     4
unique    3
top       a
freq      2
dtype: object

In [16]:
new_categories = ["Group %s" % g for g in s.cat.categories]

s = s.cat.rename_categories(new_categories)

In [17]:
s.describe()

count           4
unique          3
top       Group a
freq            2
dtype: object

In [18]:
s = pd.Series(pd.Categorical(["a", "b", "a"], categories=["a", "b", "c", "d"]))

In [21]:
s.cat.remove_unused_categories()

0    a
1    b
2    a
dtype: category
Categories (2, object): ['a', 'b']

In [22]:
s = pd.Series([1, 2, 3, 1], dtype="category")

s = s.cat.set_categories([2, 3, 1], ordered=True)

In [23]:
s

0    1
1    2
2    3
3    1
dtype: category
Categories (3, int64): [2 < 3 < 1]

In [24]:
s.sort_values()

1    2
2    3
0    1
3    1
dtype: category
Categories (3, int64): [2 < 3 < 1]

In [25]:
from pandas.api.types import union_categoricals

a = pd.Categorical(["b", "c"])

b = pd.Categorical(["a", "b"])

union_categoricals([a, b])

['b', 'c', 'a', 'b']
Categories (3, object): ['b', 'c', 'a']