In [ ]:
import pandas as pd
import numpy as np

In [4]:
dti = pd.date_range("2018-01-01", periods=3, freq="h")

In [5]:
dti = dti.tz_localize("UTC")
dti

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='h')

In [6]:
dti.tz_convert("US/Pacific")

DatetimeIndex(['2017-12-31 16:00:00-08:00', '2017-12-31 17:00:00-08:00',
               '2017-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='h')

In [9]:
idx = pd.date_range("2018-01-01", periods=5, freq="h")

In [10]:
ts = pd.Series(range(len(idx)), index=idx)

In [11]:
idx

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='h')

In [12]:
ts

2018-01-01 00:00:00    0
2018-01-01 01:00:00    1
2018-01-01 02:00:00    2
2018-01-01 03:00:00    3
2018-01-01 04:00:00    4
Freq: h, dtype: int64

In [14]:
ts.resample("2h").sum()

2018-01-01 00:00:00    1
2018-01-01 02:00:00    5
2018-01-01 04:00:00    4
Freq: 2h, dtype: int64

In [15]:
friday = pd.Timestamp("2018-01-05")

In [16]:
friday.day_name()

'Friday'

In [18]:
friday.day_of_year

5

In [19]:
saturday = friday + pd.Timedelta("1 day")

In [20]:
saturday.day_name()

'Saturday'

In [21]:
pd.to_datetime(["04-01-2012 10:00"], dayfirst=True)

DatetimeIndex(['2012-01-04 10:00:00'], dtype='datetime64[ns]', freq=None)

In [22]:
pd.to_datetime(["04-01-2012 10:00"], dayfirst=False)

DatetimeIndex(['2012-04-01 10:00:00'], dtype='datetime64[ns]', freq=None)

In [29]:
df = pd.DataFrame(
    {"year": [2015, 2016], "month": [2, 3], "day": [4, 5], "hour": [2, 3]}
)

In [30]:
df

   year  month  day  hour
0  2015      2    4     2
1  2016      3    5     3

In [31]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [32]:
pd.to_datetime(df[["year", "month", "day"]])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [33]:
df['timestamp'] = pd.to_datetime(df)

In [34]:
df

   year  month  day  hour           timestamp
0  2015      2    4     2 2015-02-04 02:00:00
1  2016      3    5     3 2016-03-05 03:00:00

In [35]:
pd.to_datetime(['2009/07/31', 'asd'], errors='raise')

ValueError: time data "asd" doesn't match format "%Y/%m/%d", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [36]:
pd.to_datetime(['2009/07/31', 'asd'], errors='coerce')

DatetimeIndex(['2009-07-31', 'NaT'], dtype='datetime64[ns]', freq=None)

In [37]:
pd.to_datetime([1, 2, 3], unit="D", origin=pd.Timestamp("1960-01-01"))

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [39]:
import datetime

In [40]:
start = datetime.datetime(2011, 1, 1)

end = datetime.datetime(2012, 1, 1)

index = pd.date_range(start, end)

In [41]:
index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
               '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
               '2011-01-09', '2011-01-10',
               ...
               '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
               '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
               '2011-12-31', '2012-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [42]:
pd.bdate_range(start, end)

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
               '2011-12-23', '2011-12-26', '2011-12-27', '2011-12-28',
               '2011-12-29', '2011-12-30'],
              dtype='datetime64[ns]', length=260, freq='B')

In [43]:
dft = pd.DataFrame(
    np.random.randn(100000, 1),
    columns=["A"],
    index=pd.date_range("20130101", periods=100000, freq="min"),
)


dft

                            A
2013-01-01 00:00:00  1.601617
2013-01-01 00:01:00 -1.443764
2013-01-01 00:02:00  0.257482
2013-01-01 00:03:00 -1.159640
2013-01-01 00:04:00  1.699893
...                       ...
2013-03-11 10:35:00  0.682649
2013-03-11 10:36:00 -0.390760
2013-03-11 10:37:00  0.202524
2013-03-11 10:38:00  0.011887
2013-03-11 10:39:00  0.342499

[100000 rows x 1 columns]

In [45]:
dft['2013-01-01 00:00:00':'2013-03-11 10:30:00']

                            A
2013-01-01 00:00:00  1.601617
2013-01-01 00:01:00 -1.443764
2013-01-01 00:02:00  0.257482
2013-01-01 00:03:00 -1.159640
2013-01-01 00:04:00  1.699893
...                       ...
2013-03-11 10:26:00  0.590149
2013-03-11 10:27:00 -0.154797
2013-03-11 10:28:00  1.107259
2013-03-11 10:29:00  1.840906
2013-03-11 10:30:00 -0.551765

[99991 rows x 1 columns]

In [46]:
dft.index.resolution

'minute'

In [49]:
dr = pd.date_range("1/1/2010", periods=3, freq=3 * pd.offsets.BDay())

ts = pd.Series(np.random.randn(3), index=dr)

In [50]:
ts

2010-01-01    0.101484
2010-01-06    1.765069
2010-01-11   -0.591763
Freq: 3B, dtype: float64

In [51]:
ts.asfreq(pd.offsets.BDay())

2010-01-01    0.101484
2010-01-04         NaN
2010-01-05         NaN
2010-01-06    1.765069
2010-01-07         NaN
2010-01-08         NaN
2010-01-11   -0.591763
Freq: B, dtype: float64

In [52]:
ts.asfreq(pd.offsets.BDay(), method="pad")

2010-01-01    0.101484
2010-01-04    0.101484
2010-01-05    0.101484
2010-01-06    1.765069
2010-01-07    1.765069
2010-01-08    1.765069
2010-01-11   -0.591763
Freq: B, dtype: float64

In [53]:
rng = pd.date_range("1/1/2012", periods=100, freq="s")

ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts

2012-01-01 00:00:00    343
2012-01-01 00:00:01    402
2012-01-01 00:00:02    191
2012-01-01 00:00:03    301
2012-01-01 00:00:04    169
                      ...
2012-01-01 00:01:35    391
2012-01-01 00:01:36    114
2012-01-01 00:01:37    103
2012-01-01 00:01:38     98
2012-01-01 00:01:39    233
Freq: s, Length: 100, dtype: int64

In [54]:
ts.resample("5Min").sum()

2012-01-01    24624
Freq: 5min, dtype: int64

In [55]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")

ts = pd.Series(np.random.randn(len(prng)), prng)

ts.index = (prng.asfreq("M", "e") + 1).asfreq("h", "s") + 9

In [56]:
prng

PeriodIndex(['1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
             '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
             '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
             '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
             '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
             '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
             '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
             '2000Q3', '2000Q4'],
            dtype='period[Q-NOV]')