In [15]:
import datetime
import pandas as pd
import numpy as np
# strings
pd.Timedelta("1 days")

Timedelta('1 days 00:00:00')

In [2]:
pd.Timedelta(1, unit="d")

Timedelta('1 days 00:00:00')

In [3]:
s = pd.Series(pd.date_range("2012-1-1", periods=3, freq="D"))

td = pd.Series([pd.Timedelta(days=i) for i in range(3)])

df = pd.DataFrame({"A": s, "B": td})

df

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

In [4]:
df['C'] = df['A'] + df['B']

In [7]:
df.dtypes

A     datetime64[ns]
B    timedelta64[ns]
C     datetime64[ns]
dtype: object

In [8]:
s.max()

Timestamp('2012-01-03 00:00:00')

In [9]:
s - s.max()

0   -2 days
1   -1 days
2    0 days
dtype: timedelta64[ns]

In [10]:
s + datetime.timedelta(minutes=5)

0   2012-01-01 00:05:00
1   2012-01-02 00:05:00
2   2012-01-03 00:05:00
dtype: datetime64[ns]

In [11]:
s + datetime.timedelta(days=2)

0   2012-01-03
1   2012-01-04
2   2012-01-05
dtype: datetime64[ns]

In [12]:
y2 = pd.Series(
    pd.to_timedelta(["-1 days +00:00:05", "nat", "-1 days +00:00:05", "1 days"])
)


y2

0   -1 days +00:00:05
1                 NaT
2   -1 days +00:00:05
3     1 days 00:00:00
dtype: timedelta64[ns]

In [13]:
y2.mean()

Timedelta('-1 days +16:00:03.333333334')

In [16]:
december = pd.Series(pd.date_range("20121201", periods=4))

january = pd.Series(pd.date_range("20130101", periods=4))

td = january - december

td[2] += datetime.timedelta(minutes=5, seconds=3)

td[3] = np.nan

td

0   31 days 00:00:00
1   31 days 00:00:00
2   31 days 00:05:03
3                NaT
dtype: timedelta64[ns]

In [17]:
td / np.timedelta64(1, "D")

0    31.000000
1    31.000000
2    31.003507
3          NaN
dtype: float64

In [27]:
pd.TimedeltaIndex(td.dt.total_seconds())

TimedeltaIndex(['0 days 00:00:00.002678400', '0 days 00:00:00.002678400',
                '0 days 00:00:00.002678703',                         NaT],
               dtype='timedelta64[ns]', freq=None)