In [1]:
import pandas as pd
import numpy as np

In [2]:
df2 = pd.DataFrame({"A": [0, 1, 2]}, index=["a", "a", "b"])

In [3]:
df2.index.is_unique

False

In [4]:
df2.columns.is_unique

True

In [5]:
df2.index.duplicated()

array([False,  True, False])

In [6]:
df2.columns.duplicated()

array([False])

In [7]:
df2.loc[~df2.index.duplicated(), :]

   A
a  0
b  2

In [8]:
df = pd.DataFrame({"A": [0, 1, 2, 3]}, index=["x", "y", "X", "Y"]).set_flags(
    allows_duplicate_labels=False
)

df2 = df.set_flags(allows_duplicate_labels=True)

In [9]:
df2

   A
x  0
y  1
X  2
Y  3