In [1]:
import pandas as pd
import numpy as np

dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])


df

                   A         B         C         D
2000-01-01 -0.498640  0.065380  2.086332 -0.993312
2000-01-02  2.878016 -0.592957 -0.438581 -0.686641
2000-01-03  0.086761  0.174606  0.847781  0.441360
2000-01-04 -0.276094  0.117757 -0.398223 -0.672891
2000-01-05  1.179633  0.311165 -0.457929 -1.643325
2000-01-06  0.271746  0.423893  0.419878  0.542900
2000-01-07 -0.616484  0.808103 -0.956773 -1.391855
2000-01-08  2.830037 -1.349691 -0.091048  1.895187

In [2]:
s = df['A']

s[dates[5]]

np.float64(0.27174598869426003)

In [3]:
df[['B', 'A']] = df[['A', 'B']]

In [4]:
df

                   A         B         C         D
2000-01-01  0.065380 -0.498640  2.086332 -0.993312
2000-01-02 -0.592957  2.878016 -0.438581 -0.686641
2000-01-03  0.174606  0.086761  0.847781  0.441360
2000-01-04  0.117757 -0.276094 -0.398223 -0.672891
2000-01-05  0.311165  1.179633 -0.457929 -1.643325
2000-01-06  0.423893  0.271746  0.419878  0.542900
2000-01-07  0.808103 -0.616484 -0.956773 -1.391855
2000-01-08 -1.349691  2.830037 -0.091048  1.895187

In [7]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))


dfl

                   A         B         C         D
2013-01-01  1.541067  0.213374 -1.266818  0.391529
2013-01-02 -0.794318 -1.352497  0.521876  0.803865
2013-01-03  1.131081 -0.073039  0.075079  1.297376
2013-01-04 -0.597034  0.529284 -0.153042  1.160328
2013-01-05 -0.559851 -1.325096 -0.602438 -0.137668

In [ ]:
dfl.loc[1:3]

TypeError: cannot do slice indexing on DatetimeIndex with these indexers [1] of type int

In [10]:
dfl.iloc[1:3]

                   A         B         C         D
2013-01-02 -0.794318 -1.352497  0.521876  0.803865
2013-01-03  1.131081 -0.073039  0.075079  1.297376

In [11]:
dfl.loc['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.794318 -1.352497  0.521876  0.803865
2013-01-03  1.131081 -0.073039  0.075079  1.297376
2013-01-04 -0.597034  0.529284 -0.153042  1.160328

In [12]:
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))
s1

a    1.752171
b   -0.233370
c   -0.497096
d    0.673130
e    0.712979
f    1.505794
dtype: float64

In [13]:
s1.loc['c':] = 0
s1

a    1.752171
b   -0.233370
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [19]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df1

          A         B         C         D
a  0.086629  0.443415 -0.611222  0.396352
b  0.945357 -0.227792  0.305402  0.079376
c -1.520718 -0.483686 -0.975887  0.934091
d  0.844278 -1.987111  0.799825 -0.267073
e -0.682932 -1.297334 -0.298223 -1.254176
f -0.471417 -1.214766  1.282832  0.521228

In [24]:
df1.loc[:, ((df1.loc['a'] > 0) & (df1.loc['b'] < 0))]

          B
a  0.443415
b -0.227792
c -0.483686
d -1.987111
e -1.297334
f -1.214766

In [25]:
df1.loc['a', 'A']

np.float64(0.08662900676282105)

In [26]:
s = pd.Series(list('abcdef'), index=[0, 3, 2, 5, 4, 2])
s.loc[3:5]

3    b
2    c
5    d
dtype: object

In [27]:
s.loc[2:5]

KeyError: 'Cannot get left slice bound for non-unique label: 2'

In [28]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

In [39]:
df1.loc[lambda df: df['A']> df['A'].mean(), :]

          A         B         C         D
c  0.318766 -1.302494  0.178648 -0.021655
d -0.795470 -0.336885  0.315912 -0.704840

In [33]:
df1['A'].mean()

np.float64(-0.9862685859866708)

In [40]:
s = pd.Series([0, 1, 2, 3, 4, 5])

s.sample(frac=0.5)

1    1
2    2
4    4
dtype: int64

In [44]:
df1

          A         B         C         D
a -1.064280  1.410555  1.235613 -0.434136
b -1.828418  0.774703 -0.171705 -1.061453
c  0.318766 -1.302494  0.178648 -0.021655
d -0.795470 -0.336885  0.315912 -0.704840
e -1.558701 -0.117631  0.533092  0.410207
f -0.989509  0.072785 -0.803665 -0.100497

In [48]:
df1.at['a', "A"]

np.float64(-1.0642796025669463)

In [46]:
df1.loc['a', "A"]

np.float64(-1.0642796025669463)

In [49]:
df

                   A         B         C         D
2000-01-01  0.065380 -0.498640  2.086332 -0.993312
2000-01-02 -0.592957  2.878016 -0.438581 -0.686641
2000-01-03  0.174606  0.086761  0.847781  0.441360
2000-01-04  0.117757 -0.276094 -0.398223 -0.672891
2000-01-05  0.311165  1.179633 -0.457929 -1.643325
2000-01-06  0.423893  0.271746  0.419878  0.542900
2000-01-07  0.808103 -0.616484 -0.956773 -1.391855
2000-01-08 -1.349691  2.830037 -0.091048  1.895187

In [53]:
df[~(df['A'] > 0)]

                   A         B         C         D
2000-01-02 -0.592957  2.878016 -0.438581 -0.686641
2000-01-08 -1.349691  2.830037 -0.091048  1.895187

In [54]:
df2 = pd.DataFrame({'a': ['one', 'one', 'two', 'three', 'two', 'one', 'six'],
                    'b': ['x', 'y', 'y', 'x', 'y', 'x', 'x'],
                    'c': np.random.randn(7)})

In [57]:
selection = df2['a'].map(lambda x: x.startswith('t'))
selection

0    False
1    False
2     True
3     True
4     True
5    False
6    False
Name: a, dtype: bool

In [60]:
df2.loc[selection, ['b','c']]

   b         c
2  y -2.730810
3  x  1.595957
4  y  0.336205

In [62]:
s[s>0]

1    1
2    2
3    3
4    4
5    5
dtype: int64

In [63]:
s.where(s>0)

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [64]:
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

In [65]:
df

                   A         B         C         D
2000-01-01  0.008851  0.886645 -0.218560  0.604979
2000-01-02 -0.104633  1.382084 -1.223115  0.763729
2000-01-03  0.599907  0.404175 -2.499219  0.019865
2000-01-04  0.496502 -0.939382  0.948471  0.288540
2000-01-05  1.321167  0.259075 -0.574642  2.033304
2000-01-06 -0.136652 -1.398626 -0.085915 -0.427851
2000-01-07  0.298968  0.129964 -0.309712  0.488414
2000-01-08  1.193818  0.240265 -0.982500 -0.617394

In [66]:
df.where(df < 0, -df)

                   A         B         C         D
2000-01-01 -0.008851 -0.886645 -0.218560 -0.604979
2000-01-02 -0.104633 -1.382084 -1.223115 -0.763729
2000-01-03 -0.599907 -0.404175 -2.499219 -0.019865
2000-01-04 -0.496502 -0.939382 -0.948471 -0.288540
2000-01-05 -1.321167 -0.259075 -0.574642 -2.033304
2000-01-06 -0.136652 -1.398626 -0.085915 -0.427851
2000-01-07 -0.298968 -0.129964 -0.309712 -0.488414
2000-01-08 -1.193818 -0.240265 -0.982500 -0.617394

In [78]:
df3 = pd.DataFrame({'A': [1, 2, 3],
                    'B': [4, 5, 6],
                    'C': [7, 8, 9]})

In [81]:
df4 = df3.where(lambda x: x > 4 , lambda x: x+10)

In [82]:
df4 = df3.mask(df3 >= 6)

In [83]:
df4

   A    B   C
0  1  4.0 NaN
1  2  5.0 NaN
2  3  NaN NaN