In [10]:
import pandas as pd
import numpy as np
s = pd.Series(range(5))


s.rolling(window=2).sum()

0    NaN
1    1.0
2    3.0
3    5.0
4    7.0
dtype: float64

In [5]:
s = pd.Series(range(5), index=pd.date_range('2020-01-01', periods=5, freq='1D'))

s.rolling(window='2D').sum()

2020-01-01    0.0
2020-01-02    1.0
2020-01-03    3.0
2020-01-04    5.0
2020-01-05    7.0
Freq: D, dtype: float64

In [13]:
df = pd.DataFrame([[1, 2, 0.6], [2, 3, 0.4], [3, 4, 0.2], [4, 5, 0.7]])

df.ewm(0.5).mean()

          0         1         2
0  1.000000  2.000000  0.600000
1  1.750000  2.750000  0.450000
2  2.615385  3.615385  0.276923
3  3.550000  4.550000  0.562500

In [17]:
df.head(2).ewm(0.5).mean()

      0     1     2
0  1.00  2.00  0.60
1  1.75  2.75  0.45

In [21]:
times = ['2020-01-01', '2020-01-03', '2020-01-04', '2020-01-05', '2020-01-29']

s = pd.Series(range(5), index=pd.DatetimeIndex(times))

s

2020-01-01    0
2020-01-03    1
2020-01-04    2
2020-01-05    3
2020-01-29    4
dtype: int64

In [22]:
s.rolling(window=2).sum()

2020-01-01    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-29    7.0
dtype: float64

In [23]:
s.rolling(window='2D').sum()

2020-01-01    0.0
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-29    4.0
dtype: float64

In [28]:
s = pd.Series(range(10))

s.rolling(window=5).mean()

0    NaN
1    NaN
2    NaN
3    NaN
4    2.0
5    3.0
6    4.0
7    5.0
8    6.0
9    7.0
dtype: float64

In [29]:
s.rolling(window=5, win_type="gaussian").mean(std=0.1)

0    NaN
1    NaN
2    NaN
3    NaN
4    2.0
5    3.0
6    4.0
7    5.0
8    6.0
9    7.0
dtype: float64

In [31]:
df = pd.DataFrame(range(5))

df.rolling(window=len(df), min_periods=1).mean()

     0
0  0.0
1  0.5
2  1.0
3  1.5
4  2.0

In [32]:
df.expanding(min_periods=1).mean()

     0
0  0.0
1  0.5
2  1.0
3  1.5
4  2.0

In [33]:
times = ["2020-01-01", "2020-01-03", "2020-01-10", "2020-01-15", "2020-01-17"]

df.ewm(halflife="4 days", times=pd.DatetimeIndex(times)).mean()

          0
0  0.000000
1  0.585786
2  1.523889
3  2.427352
4  3.157019